<div class="container mt-2">
    <div class="row app-container p-2">
            <div class="col-lg-10 offset-md-1">
               <h3>Weather is working..</h3>      
    </div>
    <div class="container">
        <h3>Api Response By using FakeApi</h3>      

        <ul>
            
                <table>
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>UserName</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let items of records">
                            <td>{{items.id}}</td>
                            <td> {{items.name}}</td>
                            <td> {{items.username}}</td>
                            <td> {{items.email}}</td>
                        </tr>
                    </tbody>
                </table>
        </ul>
    </div>
</div>
